.workflow-name-td {
	min-width: 293px;
}

.actions-td {
	min-width: 255px;
}

.minW-134 {
	min-width: 134px;
}

.minW-121 {
	min-width: 121px;
}

.minW-104 {
	min-width: 104px;
}

.minW-124 {
	min-width: 124px;
}

.minW-139 {
	min-width: 139px;
}