.workflow-name-td {
	min-width: 293px;
}

.actions-td {
	min-width: 255px;
}

.minW-134 {
	min-width: 134px;
}

.minW-121 {
	min-width: 121px;
}

.minW-104 {
	min-width: 104px;
}

.minW-124 {
	min-width: 124px;
}

.minW-139 {
	min-width: 139px;
}
.background-F6F7F9{
	background: #F6F7F9;
}
.text-424242 {
color: #424242;
}

.fs-26 {
	font-size: 26px;
}
.max-width-49{
	max-width: 49%;
}
.tabs-btn.selected {
	color: #3575d5;
	box-shadow: inset 0px -3px 0px #3575D5;
}

.email-performance-box {
	box-shadow: inset 0px -1px 0px #E0E0E0, inset -1px 0px 0px #E0E0E0;
	border-radius: 8px 0px 0px 0px;
}
.email-performance-box1 {
	box-shadow: inset 0px -1px 0px #E0E0E0, inset 0px 0px 0px #E0E0E0;
	border-radius: 8px 0px 0px 0px;
}
.email-performance-box2 {
	box-shadow: inset 0px 0px 0px #E0E0E0, inset -1px 0px 0px #E0E0E0;
	border-radius: 8px 0px 0px 0px;
}
.shadow {
    --tw-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1),0 0px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.shadow.alert	 {
    --tw-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1),0 0px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}


.bg-e7eed9 {
	background-color: #e7eed9;
}

.bg-2ea1f9 {
	background-color: #2EA1F9;
}

.bg-eef8ff {
	background-color: #eef8ff;
}

.bg-f7f4ff {
	background-color: #f7f4ff;
}

.max-w-156 {
	max-width: 156px;
}

.h-130 {
	height: 130px;
}

.text-333333 {
	color: #333333;
}

.text-a1a1a1 {
	color: #a1a1a1;
}

.calendar-boxShadow {
	box-shadow: inset 5px 0px 0px #18A558;
}

.bg-eff7ec {
	background-color: #eff7ec;
}


@media(min-width:1280px){
	.max-width-375{
		max-width: 34%;
	}
	.max-width-1065 {
		max-width: 66%;
	}
}
@media(min-width:768px){
	.max-width-24 {
		max-width: 24%;
}
}